.card-img{
    padding-top: 15 px;
    width: 280px;
    height: 260 px;
    object-fit: cover;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card{
    margin: 10px 15px;
    min-height: 600px;
    width: 280px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 50);
    background-color: #fff;
    overflow: hidden;
    transition: all 0.20s ease-in;
    cursor: pointer;
}
.card.hover{
    box-shadow: 0 4px 12px 12px rgba(0, 0, 0, 25);
    transform: translateY(-6px);
}
.card-detail{
    padding: 12px 8px;
}
.card-favicon{
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: none;
    margin: 5px 15px;
    padding: 8px 8px;
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    color: #8c8c8e;
}
.card-favicon.favorite{
    display: block;
    background-color: rgb(223, 117, 84);
    color: white;
}
small{
    color: #8c8c8e;
}
.priceTag{
    color: #444;
    font-weight: bold;
}
.offerTag{
    color: #21b276;
}