.navbar-modificada {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 70px;
  }
.imgurl-navbar {
    height: 50px;
    width: auto;
    padding-right: 50px;
}